@import 'config';
// @import 'utilities';

/* Could use SASS to change this from Bootstrap-ey to more custom, especially with color */
body::before {
    display: block;
    content: '';
    height: 60px;
}

#showcase {
    @include background($martial-artists, $primary-color);
}

/* Mapbox CSS to make it display */
#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

footer {
    .container {
        display: flex;
        justify-content: space-between;
    }
}
#sitehound {
    @include easeOut;

    &:hover {
        color: #ee6f1a;
    }
}

@media (min-width: 768) {
    .news-input {
        width: 50%;
    }
}